doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css")
        link(rel="stylesheet" href="/assets/css/styles.css")
        title #{pageTitle} | WETUBE
    body 
        header 
            nav
                ul
                    li
                        a(href="/") Home 
                    li 
                        a(href="/search") Search
                    if loggedIn
                        li 
                            a(href="/videos/upload") Upload
                        li 
                            a(href="/users/edit") Edit Profile
                        li 
                            a(href="/users/logout") Log Out
                        li 
                            a(href=`/users/${loggedInUser._id}`) #{loggedInUser.name}의 Profile
                    //- pug는 session에 대한 접근이 불가하다. 따라서 locals를 사용해서 변수를 만들면 된다.
                    //- middleware.js를 만들고 변수 창출과 server에 use하도록 한다.
                    //- locals에 있는 loggedIn에 접근할 수 있다.
                    else 
                        li
                            a(href="/join") Join
                        li
                            a(href="/login") Log in
                        
        main
            h3 #{pageTitle}
            block contents 

    include partials/footer
    script(src="/assets/js/main.js")