doctype html 
html(lang="en")
    head 
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css")
    body
        header  
            nav
                ul 
                    li  
                        a(href="/") Go To Home 
                    li 
                        a(href="/videos/upload") Upload
                    li 
                        a(href="/search") Search
                    if loggedIn 
                        li 
                            a(href="/users/logout") Log out    
                        li 
                            a(href="/profile") #{loggedInUser.name}의 Profile
                    else
                        li 
                            a(href="/login") Login
                        li 
                            a(href="/join") Join
            h1=pageTitle
        main
            block content

    include partials/footer