extends base

block contents 
    form.form(method="POST")
        input.input_submit(type="submit" value="Delete Video")
        input.input_cancel(type="button" value="CANCEL" onclick="location.href=`/`")
