extends base

block contents  
    form(method="POST")
        input(name="username" type="text" placeholder="Insert your ID" minlength=4 required)
        input(name="email" type="email" placeholder="E-mail" required)
        input(name="password" type="password" placeholder="password" minlength=4 required)
        input(name="checkpass" type="password" placeholder="Checking password" minlength=4 required)
        input(name="name" type="text" placeholder="Your Name" required)
        input(name="location" type="text" placeholder="Your Location")
        input(type="submit" value="JOIN")
        input(type="button" value="CANCEL" onclick="location.href=`/`")
