extends base

block contents 
    if errorMessage 
        span=errorMessage
    form.form(method="POST")
        input.input_text(name="username" type="text" placeholder="Insert your ID" minlength=4 required)
        input.input_text(name="password" type="password" placeholder="password" minlength=4 required)
        input.input_submit(type="submit" value="Log In")
        input.input_cancel(type="button" value="CANCEL" onclick="location.href=`/`")
    br
    a(href="/users/github/start") Login with Github &rarr;
    br
    a(href="") Create Account with Kakao &rarr;
    hr
    div
        span Don't have an account?
        br
        a(href="/join") Create Account &rarr;
