extends base.pug
include mixins/video

block content 
    form(method="GET")
        input(name="keyword" placeholder="Seach by Title", type="text")
        input(type="submit" value="Search Now")
    div
        each video in videoWhatFind
            +video(video)