extends base
include mixins/mixins

block contents 
    form.form(method="GET")
        input.input_text(name="keyword" type="text" placeholder="Input to Search")
        input.input_submit(type="submit" value="Search")
        input.input_cancel(type="button" value="CANCEL" onclick="location.href=`/`")
    hr
    div.search_result
        each video in videofind
            +videoList(video)
        else 
            p Search Video