extends base

block contents
    if errorMessage 
        span=errorMessage
    form(method="POST")
            input(name="title" type="text" placeholder=" VIDEO TITLE " maxlength=20 required)
            input(name="description" type="text" placeholder=" Description Video" minlength=10 required)
            input(name="createAt" type="text" placeholder="Write on Create At"  required)
            input(name="hashtags" type="text" placeholder="Split by Comma"  required)
            input(type="submit" value="SAVE")
            input(type="button" value="CANCEL" onclick="location.href=`/`")
