extends base.pug

block content
    form(method="POST")
        h3 UPLOADING VIDIEOS
        input(name="title" placeholder="Title", required, type="text")
        input(name="description" placeholder="Description", required, type="text")
        input(name="hashtags" placeholder="Hashtags", required, type="text")
        input(type="submit", value="Upload Video")