extends ../base

block contents 
    if errorMessage   
        span=errorMessage
    form.form(method="POST")
        input.input_text(name="oldPW" type="password" placeholder="Old Password" minlength=4 required)
        input.input_text(name="newPW" type="password" placeholder="New Password" minlength=4 required)
        input.input_text(name="checkpass" type="password" placeholder="Checking New Password" minlength=4 required)
        input.input_submit(type="submit" value="JOIN")
        input.input_cancel(type="button" value="CANCEL" onclick="location.href=`/`")